

@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
.musiclist{
    
    font-family: 'Jacques Francois Shadow', cursive;
   
    text-align : center;
    color: #EC7D32;
	text-shadow:
		0 0 5px #F79F1F, 
		0 0 40px #EC7D32,

		
		
    

}